<%= render partial: './header.html.erb' %>

<section class="section-profile">
  <div class="container">
    <div class="row wishlist-container">
      <div class="sidebar-container">
        <div class="shop-sidebar">
          <div class="single-widget category">
            <h3 class="title">Категории</h3>
            <ul class="categor-list">
              <li><%= link_to 'Мои данные', :profile %></li>
              <li><%= link_to 'Корзина', :cart_index %></li>
              <li><a href="#">Мои заказы</a></li>
              <li><a href="#">Мои отзывы</a></li>
              <li><a href="#">Список желаний</a></li>
              <li><a href="#">Просмотренные товары</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile-main shop wishlist-main">
        <h2>Список желаний</h2>
        <div class="wishlist">
          <% @wishes.each do |el| %>
            <%= link_to(controller: 'products', action: 'show', id: el.product.id) do %>
            <div class="wishlist-element">
            <div class="element-inform">
              <div class="product-image">
                <%= image_tag el.product.main_photo, class: 'image' %>
              </div>
              <div class="product-inform">
                <p class="product-name"><%= link_to el.product.title, controller: 'products', action: 'show', id: el.product.id %></p>
                <p class="descr"><%= el.product.description[0..45] %><%= el.product.description.length > 45 ? "..." : "" %></p>
              </div>
            </div>
              <div class="price">
                <span><%= el.product.price %> &#8381;</span>
              </div>
              <div class="delete">
               <%= link_to({controller: 'wishes', action: 'delete', id: el.id}, data:{'turbolinks-no-scroll'=>true}) do %><i class="ti-trash remove-icon"></i><% end %>
              </div>
          </div>
              <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
