<%= render partial: './header.html.erb' %>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to(controller: 'home', action: 'index') do %>Главная<i class="ti-arrow-right"></i><% end %></li>
            <% if current_user %>
              <li><%= link_to(controller: 'users', action: 'profile') do %>Профиль<i class="ti-arrow-right"></i><% end %></li>
            <% end %>
            <li class="active"><a href="">Список желаний</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-profile">
  <div class="container">
    <div class="row wishlist-container">
      <%= render './profile_nav.html.erb' %>
      <div class="profile-main shop wishlist-main">
        <h2>Список желаний</h2>
        <hr>
        <div class="wishlist">

          <% if @wishes.count == 0 %>
            <h3 style="width: 100%; text-align: center">В вашем списке желаний пока пусто.  <%=link_to 'Начать покупки', {controller: 'products', action: 'index'}, style: 'font-weight: inherit; text-decoration: underline' %>.</h3>
          <%end %>

          <% @wishes.each do |el| %>
            <%= link_to(controller: 'products', action: 'show', id: el.product.id) do %>
            <div class="wishlist-element">
            <div class="element-inform">
              <div class="product-image">
                <%= image_tag el.product.main_photo, class: 'image' %>
              </div>
              <div class="product-inform">
                <p class="product-name"><%= link_to el.product.title, controller: 'products', action: 'show', id: el.product.id %></p>
                <p class="descr"><%= el.product.description[0..45] %><%= el.product.description.length > 45 ? "..." : "" %></p>
              </div>
            </div>
              <div class="price">
                <span><%= el.product.price %> &#8381;</span>
              </div>
              <div class="delete">
               <%= link_to({controller: 'wishes', action: 'delete', id: el.id}, data:{'turbolinks-no-scroll'=>true}) do %><i class="ti-trash remove-icon"></i><% end %>
              </div>
          </div>
              <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
