<%= render partial: './header.html.erb' %>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to(controller: 'home', action: 'index') do %>Главная<i class="ti-arrow-right"></i><% end %></li>
            <% if current_user %>
              <li><%= link_to(controller: 'users', action: 'profile') do %>Профиль<i class="ti-arrow-right"></i><% end %></li>
            <% end %>
            <li class="active"><a href="">Корзина</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shopping Cart -->
<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
          <tr class="main-hading">
            <th>ТОВАР</th>
            <th>НАЗВАНИЕ</th>
            <th class="text-center">ЦЕНА</th>
            <th class="text-center">КОЛИЧЕСТВО</th>
            <th class="text-center">ПОДЫТОГ</th>
            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
          </tr>
          </thead>
          <tbody>
          <% @carts.each do |cart| %>
            <tr data-code = "<%= cart.id %>" class = "cart-item-wrap">
              <td class="image" data-title="№"><%= image_tag cart.product.main_photo %></td>
              <td class="product-des" data-title="Описание">
                <p class="product-name"><%= link_to cart.product.title, controller: "products", action: "show", id: cart.product.id  %></p>
                <p class="product-des"><%= cart.product.description[0..45] %><%= cart.product.description.length > 45 ? "..." : "" %></p>
              </td>
              <td class="price" data-title="Цена"><span>₽<%=  cart.product.price %></span></td>
              <td class="qty" data-title="Количество"><!-- Input Order -->
                <div class="input-group">
                  <div class="button minus">
                    <button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="quant[<%= cart.id %>]"> 
                      <i class="ti-minus"></i>
                    </button>
                  </div>
                  <input type="text" name="quant[<%= cart.id %>]" class="input-number" data-min="1" data-max="2147483647" value="<%= cart.quantity %>">
                  <div class="button plus">
                    <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[<%= cart.id %>]">
                      <i class="ti-plus"></i>
                    </button>
                  </div>
                </div>
                <!--/ End Input Order -->
              </td>
              <td class="total-amount" data-title="Подытог"><span>₽<%=  (cart.product.price * cart.quantity).round(2) %></span></td>
              <td class="action" data-title="Удалить"><span><i class="ti-trash remove-icon"></i></span></td>
            </tr>
          <% end %>



          </tbody>
        </table>
        <% if @carts.count == 0 %>
          <h3 style="width: 100%; text-align: center; padding: 80px 0">В корзине пока пусто.  <%=link_to 'Начать покупки', {controller: 'products', action: 'index'}, style: 'font-weight: inherit; text-decoration: underline' %>.</h3>
        <% end %>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-8 col-md-5 col-12">
              <div class="left">
                <div class="coupon">
                  <form action="#" target="_blank">
                    <input name="Coupon" placeholder="Введите Ваш Купон">
                    <button class="btn">Применить</button>
                  </form>
                </div>
                <div class="checkbox">
                  <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Доставка (+10₽)</label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-7 col-12">
              <div class="right">
                <ul>
                  <li>Подытого корзины<span>₽330.00</span></li>
                  <li>Доставка<span>Бесплатно</span></li>
                  <li>Вы экономите<span>₽20.00</span></li>
                  <li class="last">И того<span></span></li>
                </ul>
                <div class="button5">
                  <%= link_to 'Оформить заказ', {controller: 'cart', action: 'new'}, class: 'btn' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>
<!--/ End Shopping Cart -->

<!-- Start Shop Services Area  -->
<section class="shop-services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-rocket"></i>
          <h4>Бесплатная доставка</h4>
          <p>За заказ более 100₽</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-reload"></i>
          <h4>Бесплатный возврат</h4>
          <p>В течении 30 дней</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-lock"></i>
          <h4>Безопасная оплата</h4>
          <p>100% защищённая оплата</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-tag"></i>
          <h4>Лучший товар</h4>
          <p>Гарантированная цена</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Newsletter -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
  <div class="container">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <!-- Start Newsletter Inner -->
          <div class="inner">
            <h4>Новотсная рассылка</h4>
            <p> Подпишитесь на нашу рассылку и получите скидку <span>10%</span> на вашу первую покупку</p>
            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
              <input name="EMAIL" placeholder="Адресс ваше почты" required="" type="email">
              <button class="btn">Подписаться</button>
            </form>
          </div>
          <!-- End Newsletter Inner -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Shop Newsletter -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <div class="row no-gutters">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <!-- Product Slider -->
            <div class="product-gallery">
              <div class="quickview-slider-active">
                <div class="single-slider">
                  <img src="./images/modal1.jpg" alt="#">
                </div>
                <div class="single-slider">
                  <img src="./images/modal2.jpg" alt="#">
                </div>
                <div class="single-slider">
                  <img src="./images/modal3.jpg" alt="#">
                </div>
                <div class="single-slider">
                  <img src="./images/modal4.jpg" alt="#">
                </div>
              </div>
            </div>
            <!-- End Product slider -->
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="quickview-content">
              <h2>Flared Shift Dress</h2>
              <div class="quickview-ratting-review">
                <div class="quickview-ratting-wrap">
                  <div class="quickview-ratting">
                    <i class="yellow fa fa-star"></i>
                    <i class="yellow fa fa-star"></i>
                    <i class="yellow fa fa-star"></i>
                    <i class="yellow fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <a href="#"> (1 customer review)</a>
                </div>
                <div class="quickview-stock">
                  <span><i class="fa fa-check-circle-o"></i> in stock</span>
                </div>
              </div>
              <h3>$29.00</h3>
              <div class="quickview-peragraph">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
              </div>
              <div class="size">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <h5 class="title">Size</h5>
                    <select>
                      <option selected="selected">s</option>
                      <option>m</option>
                      <option>l</option>
                      <option>xl</option>
                    </select>
                  </div>
                  <div class="col-lg-6 col-12">
                    <h5 class="title">Color</h5>
                    <select>
                      <option selected="selected">orange</option>
                      <option>purple</option>
                      <option>black</option>
                      <option>pink</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="quantity">
                <!-- Input Order -->
                <div class="input-group">
                  <div class="button minus">
                    <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                      <i class="ti-minus"></i>
                    </button>
                  </div>
                  <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
                  <div class="button plus">
                    <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                      <i class="ti-plus"></i>
                    </button>
                  </div>
                </div>
                <!--/ End Input Order -->
              </div>
              <div class="add-to-cart">
                <a href="#" class="btn">Add to cart</a>
                <a href="#" class="btn min"><i class="ti-heart"></i></a>
                <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
              </div>
              <div class="default-social">
                <h4 class="share-now">Share:</h4>
                <ul>
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
