<%= render partial: './header.html.erb' %>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to(controller: 'home', action: 'index') do %>Главная<i class="ti-arrow-right"></i><% end %></li>
            <li><%= link_to(controller: 'cart', action: 'index') do %>Корзина<i class="ti-arrow-right"></i><% end %></li>
            <li class="active"><a href="">Заказ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->
<% if @carts.count > 0 %>
<!-- Start Checkout -->
<section class="shop checkout section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="checkout-form">
          <h2>Make Your Checkout Here</h2>
          <p>Please register in order to checkout more quickly</p>
          <!-- Form -->
          <form class="form" method="post" action="#">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>First Name<span>*</span></label>
                  <input type="text" name="name" placeholder="" required="required" value="<%= current_user ? current_user.name : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Last Name<span>*</span></label>
                  <input type="text" name="name" placeholder="" required="required" value="<%= current_user ? current_user.surname : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Email Address<span>*</span></label>
                  <input type="email" name="email" placeholder="" required="required" value="<%= current_user ? current_user.email : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Phone Number<span>*</span></label>
                  <input type="number" name="number" placeholder="" required="required" value="<%= current_user && !current_user.phone.blank? ? current_user.phone : '' %>">
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-group">
                  <label>Postal Code<span>*</span></label>
                  <input type="text" name="post" placeholder="" required="required" value="<%= current_user && !current_user.zip.blank? ? current_user.zip : '' %>">
                </div>
              </div>
             <!-- <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Company<span>*</span></label>
                  <select name="company_name" id="company">
                    <option value="company" selected="selected">Microsoft</option>
                    <option>Apple</option>
                    <option>Xaiomi</option>
                    <option>Huawer</option>
                    <option>Wpthemesgrid</option>
                    <option>Samsung</option>
                    <option>Motorola</option>
                  </select>
                </div>
              </div>-->
              <!--
              <div class="col-12">
                <div class="form-group create-account">
                  <input id="cbox" type="checkbox">
                  <label>Create an account?</label>
                </div>
              </div>-->
            </div>
          </form>
          <!--/ End Form -->
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="order-details">
          <!-- Order Widget -->
          <div class="single-widget">
            <h2>CART  TOTALS</h2>
            <div class="content">
              <ul>
                <li>Сумма<span> <%= @sum %>₽</span></li>
                <li>(+) Доаствка<span>10.0₽</span></li>
                <li class="last">Всего<span><%= @sum +10%>₽</span></li>
              </ul>
            </div>
          </div>
          <!--/ End Order Widget -->
          <!-- Order Widget -->
          <div class="single-widget">
            <h2>Payments</h2>
            <div class="content">
              <div class="checkbox">
                <label class="checkbox-inline" for="1"><input name="updates" id="1" type="checkbox"> Check Payments</label>
                <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Cash On Delivery</label>
                <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox"> PayPal</label>
              </div>
            </div>
          </div>
          <!--/ End Order Widget -->
          <!-- Payment Method Widget -->
          <div class="single-widget payement">
            <div class="content">
              <img src="../images/payment-method.png" alt="#">
            </div>
          </div>
          <!--/ End Payment Method Widget -->
          <!-- Button Widget -->
          <div class="single-widget get-button">
            <div class="content">
              <div class="button">
                <a href="#" class="btn">Заказать</a>
              </div>
            </div>
          </div>
          <!--/ End Button Widget -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Checkout -->


<% else %>
  <section class="shop checkout section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="checkout-form">
           <h3 style="width: 100%; text-align: center">В корзине пока пусто.  <%=link_to 'Начать покупки', {controller: 'products', action: 'index'}, style: 'font-weight: inherit; text-decoration: underline' %>.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<!-- Start Shop Services Area  -->
<section class="shop-services section home">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-rocket"></i>
          <h4>Free shiping</h4>
          <p>Orders over $100</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-reload"></i>
          <h4>Free Return</h4>
          <p>Within 30 days returns</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-lock"></i>
          <h4>Sucure Payment</h4>
          <p>100% secure payment</p>
        </div>
        <!-- End Single Service -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Service -->
        <div class="single-service">
          <i class="ti-tag"></i>
          <h4>Best Peice</h4>
          <p>Guaranteed price</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Services -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
  <div class="container">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <!-- Start Newsletter Inner -->
          <div class="inner">
            <h4>Newsletter</h4>
            <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
              <input name="EMAIL" placeholder="Your email address" required="" type="email">
              <button class="btn">Subscribe</button>
            </form>
          </div>
          <!-- End Newsletter Inner -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Shop Newsletter -->
