<%= render partial: './header.html.erb' %>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to(controller: 'home', action: 'index') do %>Главная<i class="ti-arrow-right"></i><% end %></li>
            <% if current_user %>
              <li><%= link_to(controller: 'users', action: 'profile') do %>Профиль<i class="ti-arrow-right"></i><% end %></li>
            <% end %>
            <li><%= link_to(controller: 'cart', action: 'index') do %>Корзина<i class="ti-arrow-right"></i><% end %></li>
            <li class="active"><a href="">Заказ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->
<% if @carts.count > 0 %>
<!-- Start Checkout -->

<section class="shop checkout section">
  <%= form_with class: 'form' do %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="checkout-form">
          <h2>Оформите свой заказ здесь</h2>
          <p>Пожалуйста зарегистрируйтесь, чтобы сделать оформление заказа более быстрым</p>
          <div class="error-list">
            <% @errors.each do |err| %>
            <li><%= err %></li>
            <% end %>
          </div>
          <!-- Form -->

            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Имя<span>*</span></label>
                  <input type="text" name="name" placeholder="" required="required" value="<%= current_user ? current_user.name : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Фамилия<span>*</span></label>
                  <input type="text" name="surname" placeholder="" required="required" value="<%= current_user ? current_user.surname : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Эл. Почта<span>*</span></label>
                  <input type="email" name="email" placeholder="" required="required" value="<%= current_user ? current_user.email : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Номер Телефона<span>*</span></label>
                  <input type="number" name="phone" placeholder="" required="required" value="<%= current_user && !current_user.phone.blank? ? current_user.phone : '' %>">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Почтовый Код<span>*</span></label>
                  <input type="text" name="zip" id="postal-code" required="required" value="<%= current_user && !current_user.zip.blank? ? current_user.zip : '' %>">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
              <div id="locationField" class="form-group">
                <label>Адрес<span>*</span></label>
                <input type="search" id="address-input" value="<%= current_user ? current_user.location : '' %>"/>
                <p>Выбрано: <strong id="address-value"><%= current_user and !current_user.location.blank? ? current_user.location : '---'%></strong></p>
              </div>
                </div>
              <div style="display: none">
                <input name="street" class="field" id="form-street"  value="<%= current_user ? current_user.street : '' %>"/>
                <input name="city" class="field" id="form-city"  value="<%= current_user ? current_user.city : '' %>"/>
                <input name="state" class="field" id="form-administrative"  value="<%= current_user ? current_user.state : '' %>"/>
                <input name="" class="field" id="form-zip"  value="<%= current_user ? current_user.zip : '' %>"/>
                <input name="country" class="field" id="form-country" value="<%= current_user ? current_user.country : '' %>"/>
                <input name="county" class="field" id="form-county" value="<%= current_user ? current_user.county : '' %>"/>
                <input name="suburb" class="field" id="form-suburb" value="<%= current_user ? current_user.suburb : '' %>"/>
              </div>
              </div>
             <!-- <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label>Company<span>*</span></label>
                  <select name="company_name" id="company">
                    <option value="company" selected="selected">Microsoft</option>
                    <option>Apple</option>
                    <option>Xaiomi</option>
                    <option>Huawer</option>
                    <option>Wpthemesgrid</option>
                    <option>Samsung</option>
                    <option>Motorola</option>
                  </select>
                </div>
              </div>-->
              <!--
              <div class="col-12">
                <div class="form-group create-account">
                  <input id="cbox" type="checkbox">
                  <label>Create an account?</label>
                </div>
              </div>-->
            </div>

          <!--/ End Form -->
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="order-details">
          <!-- Order Widget -->
          <div class="single-widget">
            <h2>ИТОГО В КОРЗИНЕ</h2>
            <div class="content">
              <ul>
                <li>Сумма<span> <%= @sum.round(2) %>₽</span></li>
                <li>(+) Доаствка<span>10.0₽</span></li>
                <li class="last">Всего<span><%= @sum.round(2) +10%>₽</span></li>
              </ul>
            </div>
          </div>
          <!--/ End Order Widget -->
          <!-- Order Widget -->
          <div class="single-widget">
            <h2>Способ оплаты</h2>
            <div class="content">
              <div class="checkbox">
                <label class="checkbox-inline" for="1"><input name="updates" id="1" type="checkbox">С помощью чека</label>
                <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Наличными при доставке</label>
                <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox"> PayPal</label>
              </div>
            </div>
          </div>
          <!--/ End Order Widget -->
          <!-- Payment Method Widget -->
          <div class="single-widget payement">
            <div class="content">
              <img src="../images/payment-method.png" alt="#">
            </div>
          </div>
          <!--/ End Payment Method Widget -->
          <!-- Button Widget -->
          <div class="single-widget get-button">
            <div class="content">
              <div class="button">
                <button class="btn" type="submit">Заказать</button>
              </div>
            </div>
          </div>
          <!--/ End Button Widget -->
        </div>
      </div>
    </div>
  </div>
    <% end %>
</section>
<!--/ End Checkout -->


<% else %>
  <section class="shop checkout section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="checkout-form">
           <h3 style="width: 100%; text-align: center">В корзине пока пусто.  <%=link_to 'Начать покупки', {controller: 'products', action: 'index'}, style: 'font-weight: inherit; text-decoration: underline' %>.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
    <%= render './promote'%>
<script>
    if ( document.querySelector('#address-input')){
        var placesAutocomplete_register = places({
            appId: 'pl95AIU49SL1',
            apiKey: 'd63ea66c7015964fa631d4f72045e333',
            container: document.querySelector('#address-input')
        });
        var $address = document.querySelector('#address-value')
        placesAutocomplete_register.on('change', function resultSelected(e) {
            $address.textContent = e.suggestion.value;
            document.querySelector('#form-street').value = e.suggestion.name || '';
            document.querySelector('#form-city').value = e.suggestion.city || '';
            document.querySelector('#form-zip').value = e.suggestion.postcode || '';
            document.querySelector('#postal-code').value = e.suggestion.postcode || '';
            document.querySelector('#form-administrative').value = e.suggestion.administrative || '';
            document.querySelector('#form-country').value = e.suggestion.country || '';
            document.querySelector('#form-suburb').value = e.suggestion.suburb || '';
            document.querySelector('#form-county').value = e.suggestion.county || '';
        });
        placesAutocomplete_register.on('clear', function() {
            $address.textContent = 'none';
        });
    }
</script>
