

<%= render partial: './header.html.erb' %>


<section class="section inform-shop" style="margin-bottom: 20px">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="left-shop-inform-container">
          <div class="left-shop-inform">
            <div class="logo-shop">
							<% if @shop.main_photo.attached? %>
								<%= image_tag @shop.main_photo, class: 'logo-shop' %>
							<% else %>
								<%= image_tag url_for('shop.png'), class: 'logo-shop'%>
							<% end %>

            </div>
            <div class="data-shop">
              <div class="name-shop">
                <h5><%= @shop.name %></h5>
              </div>
              <div class="rating-shop">
                <ul class="reviews">
									<% (1..@shop.mark.round()).each do |i| %>
										<li class="yellow"><i class="ti-star"></i></li>
									<% end %>
									<% (@shop.mark.round()..4).each do |i| %>
										<li><i class="ti-star"></i></li>
									<% end %>
                </ul>
                <a class="reviews-shop" href="#">Отзывов: <%= @shop.posts.count%></a>
              </div>
            <!--  <div class="location-shop">
                <p>Расположение</p>
                <p class="data">Таганрог</p>
              </div> -->
              <div class="date-shop">
                <p>Дата регистрации</p>
                <p class="data"><%= @shop.created_at.strftime("%d.%m.%Y")  %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="right-shop-inform">

          <div class ="choice-container">
            <div class ="container-header">
              <div class = "option active">О магазине</div>
              <div class = "option">Точки продаж</div>
              <div class = "option">Статистика</div>
              <div class = "hidden" data-last = "0"></div>
            </div>
            <div class = "container-body">

              <div class = "option show">
              <div class = "desription">
                <h3>Описание</h3>
                <%= @shop.description %>
              </div>
              <div class = "desription">
                <h3>Владелец</h3>
                <%= @shop.user.name %> <%= @shop.user.surname %>
              </div>
              <div class = "desription">
                <h3>Контактная информация</h3>
              </div>
              <table>
                <tbody>
                  <tr>
								    <td class="column1">Моб. телефон</td>
									  <td class="column2"><%= @shop.phone %></td>
								  </tr>
                  <tr>
								    <td class="column1">Эл. почта</td>
									  <td class="column2"><%= @shop.mail %></td>
								  </tr>
									<% if !(@shop.inn.blank?) %>
                  <tr>
                    <!-- Если есть -->
                    <td class="column1">ИНН</td>
                    <td class="column2"><a href = "https://egrul.nalog.ru/index.html"><%= @shop.inn %></a> <a href = "https://egrul.nalog.ru/index.html" class = "hidden">Проверить на сайте ИФНС?</a></td>
                  </tr>
									<% end %>
									<% if !(@shop.vk.blank? && @shop.fb.blank? && @shop.tg.blank? && @shop.wu.blank?) %>
                  <tr>
                    <td class="column1">Соц. сети</td>
                    <td class="column2"></td>
                  </tr>
									<% end %>
									<% if !(@shop.vk.blank?) %>
                  <tr class = "sub">
								    <td class="column1">ВКонтакте</td>
									  <td class="column2"><a><%= @shop.vk %></a></td>
								  </tr>
									<% end %>
									<% if !(@shop.wu.blank?) %>
                  <tr class = "sub">
								    <td class="column1">WhatsUp</td>
									  <td class="column2"><a><%= @shop.wu %></a></td>
								  </tr>
									<% end %>
									<% if !(@shop.tg.blank?) %>
                  <tr class = "sub">
								    <td class="column1">Telegram</td>
									  <td class="column2"><a><%= @shop.tg %></a></td>
								  </tr>
									<% end %>
									<% if !(@shop.fb.blank?) %>
									<tr class = "sub">
										<td class="column1">Facebook</td>
										<td class="column2"><a><%= @shop.fb %></a></td>
									</tr>
								<% end %>
                </tbody>
              </table>
              </div>
              <div class = "option">
              <table>
                <div class = "desription">
                <h3>Адреса</h3>
                </div>
                <tbody>
                  <tr>
									  <td class="column1">г. Таганрог, ул. Комсомольская 134, ТЦ Мармелад (3 этаж)</td>
								  </tr>
                  <tr>
									  <td class="column1">ул. Петровкая 12, Рынок "Радуга"</td>
								  </tr>
                  <tr>
									  <td class="column1">г. Таганрог, ул. Красноармейскаб пер. 17, Сэконд-хенд "Голубушка"</td>
								  </tr>
                  <tr>
								    <td class="column1">Сэконawdaowkjdpoawjdop a;wdmo awd,lp д-хенд "Голубушка", г. Таганрог, ул. Красноармейскаб пер. 17</td>
								  </tr>
                </tbody>
              </table>
              </div>
              <div class = "option">
                <table>
                  <tbody>
                    <tr>
								      <td class="column1">Общее количество заказов</td>
									    <td class="column2 centered"><%= @shop.orders.count %></td>
								    </tr>
                    <tr>
								      <td class="column1">Количество отзывов пользователей</td>
									    <td class="column2 centered"><%= @shop.posts.count %> </td>
								    </tr>
                    <tr class = "sub">
								      <td class="column1">положительных</td>
									    <td class="column2 centered"><%= @shop.posts.where('posts.mark >= 3').count %></td>
								    </tr>
                    <tr class = "sub">
								      <td class="column1">отрицательных</td>
									    <td class="column2 centered"><%= @shop.posts.where('posts.mark < 3').count%></td>
								    </tr>
                    <tr>
								      <td class="column1">Количество размещнных товаров</td>
									    <td class="column2 centered"><%= @shop.products.count%></td>
								    </tr>
										<% all_categories.roots.each do |cat| %>
											<% if cat.is_template && (count = Product.where(category_id: cat.id ).where(shop_id: @shop.id).count != 0 ) %>
												<tr class = "sub">
													<td class="column1"><%= cat.name %></td>
													<td class="column2 centered"><%= count %></td>
												</tr>
											<% end %>

											<% cat.children.each do |el| %>
									<% if (count = Product.where(category_id: el.subtree ).where(shop_id: @shop.id).count)>0 %>
											<tr class = "sub">
												<td class="column1"><%= el.name %></td>
												<td class="column2 centered"><%=  count %></td>
											</tr>
									<% end %>
											<% end %>
										<% end %>


                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: './grid.html.erb', locals:{:controller=>'shops', shop_id: @shop.id} %>

