<%= render partial: './header.html.erb' %>

<div class="shop-name-container">
  <div class="image">
    <img src="https://via.placeholder.com/50x50" alt="">
  </div>
  <p class="shop-name">Пятёрочка</p>
</div>



 <div class ="choice-container shop-profile_container">
            <div class ="container-header">

              <div class = "option active">Информация</div>
              <div class = "option">Заказы</div>
              <div class = "option">Товары</div>
              <div class = "hidden" data-last = "0"></div>
            </div>

            <div class = "container-body">

              <div class = "option show">
                <section id="contact-us" class="contact-us section" style="padding: 0">

                  <div class="container">
                    <div class="contact-head">
                      <div class="row">
                        <div class = "add_product_section">
                          <div class="form-main">
                            <div class="title">
                              <h3>Редактировать данные магазина</h3>
                            </div>


                            <%= form_with class: 'form', multipart: true do %>
                              <div class="error-list">
                                <% @errors.try(:each) do |msg| %>
                                  <li>
                                    <%= msg %>
                                  </li>
                                <% end %>
                                <% @shop.errors.messages.values.each do |msg| %>
                                  <%msg.each do  |m| %>
                                    <li><%= m %></li>
                                  <%end %>
                                <% end %>
                              </div>
                              <div class="row form_row">
                                <div class="col-12">
                                  <div class="error-list">

                                  </div>
                                  <div class="title">
                                    <h4>Изменить данные</h4>
                                  </div>

                                  <div class="form-group Text" >
                                    <label>Название<span>*</span></label>
                                    <input name="name" type="text" placeholder=""  required maxlength="25" minlength="5" value="<%= @shop.name %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group Email" data-min="5" data-max="50">
                                    <label>Адрес эл. почты<span>*</span></label>
                                    <input name="mail" type="email" placeholder="" required value="<%= @shop.mail %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group Phone" data-min="5" data-max="50">
                                    <label>Номер телефона<span>*</span></label>
                                    <input name="phone" type="tel" placeholder="" required value="<%= @shop.phone %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group Text" data-min="5" data-max="50">
                                    <label>ИНН</label>
                                    <input name="inn" type="text" placeholder="" value="<%= @shop.inn %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group img-preloader Image">
                                    <div class="label-container">
                                      <label for = "main_image" class = "btn">Изображение...</label>
                                      <input id = "main_image" type="file" accept="image/*" onchange="preview_image(this)" name="main_photo">
                                      <input name="main_photo_changed" type="text" value = "No">
                                      <div class="error-list"></div>
                                    </div>
                                    <% if @shop.main_photo.attached? %>
                                        <div class="img-wrapper">
                                          <%= image_tag @shop.main_photo %>
                                        </div>
                                    <% end %>
                                  </div>
                                  <div class="form-group LongText" data-min="10" data-max="2000">
                                    <label>Описание<span>*</span></label>
                                    <textarea name="description"  placeholder="" required minlength="20" maxlength="2000"><%= @shop.description %></textarea>
                                    <div class="error-list"></div>
                                  </div>





                                </div>

                                <!--<div class="col-12 col-lg-6">
                                  <div class="form-group Number form-group-quantity" data-min="0" data-max="">
                                    <label>Количество товаров<span>*</span></label>

                                    <input name="quantity" type="number" placeholder="" value="" class="inp_quantity">
                                    <div class="error-list"></div>
                                  </div>

                                    <label>Product Category<span>*</span></label>
                                    <p style="display: flex" >


                                    </p>
                                    <div class="error-list"></div>
                                  </div>
                                </div>-->
                                <div class = "address_show_field" style="padding: 0 15px; width: 100%">
                                  <table>
                                    <div class = "desription">
                                      <h3>Адреса</h3>
                                    </div>
                                    <tbody>
                                    <% @shop.address.each do |addr| %>
                                      <tr>
                                      	
                                        	<td class="column1 address_table_cell"><%= addr.location %><i class="fa fa-trash" aria-hidden="true"></i></td>
                                        	
                                    	

                                      </tr>
                                    <% end %>

                                    </tbody>
                                  </table>
                                </div>
                                <div class="col-12">
                                  <div id="locationField" class="form-group">
                                    <label>Добавить новую торговую точку</label>
                                    <div style="display: flex; align-items: center;">
                                      <input type="search" id="address-input" />
                                      <i class="fa fa-plus" aria-hidden="true" style="font-size: 20px; padding: 10px"></i>
                                    </div>

                                    <p>Выбрано: <strong id="address-value">---</strong></p>
                                  </div>
                                  <div style="display: none">
                                    <input name="street" class="field" id="form-street"/>
                                    <input name="city" class="field" id="form-city" />
                                    <input name="state" class="field" id="form-administrative" />
                                    <input name="zip" class="field" id="form-zip" />
                                    <input name="country" class="field" id="form-country" />
                                    <input name="county" class="field" id="form-county" />
                                    <input name="suburb" class="field" id="form-suburb"/>
                                  </div>


                                  <div class="title">
                                    <h4>Добавить социальные сети</h4>
                                  </div>

                                  <div class="form-group Text" data-min="5" data-max="50">
                                    <label>Вконтакте</label>
                                    <input name="vk" type="text" placeholder="" value="<%= @shop.vk %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group Text" data-min="5" data-max="50">
                                    <label>WhatsUp</label>
                                    <input name="wu" type="text" placeholder=""  value="<%= @shop.wu %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group Text" data-min="5" data-max="50">
                                    <label>Telegram</label>
                                    <input name="tg" type="text" placeholder=""   value="<%= @shop.tg %>">
                                    <div class="error-list"></div>
                                  </div>
                                  <div class="form-group Text" data-min="5" data-max="50">
                                    <label>Facebook</label>
                                    <input name="fb" type="text" placeholder="" value="<%= @shop.fb %>">
                                    <div class="error-list"></div>
                                  </div>
                                </div>



                                <div class="col-12">
                                  <div class="form-group button submit_shop_changes_button">
                                    <button type="submit" class="btn ">Отправить</button>
                                  </div>
                                </div>


                              </div>
                            <% end %>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>

              </div>

              <div class = "option">
                <% if @shop.orders.count != 0 %>
                <div class = "orders_header">
                  <div class = "number">
                      №
                  </div>
                  <div class = "customer_name">
                      Имя заказчика
                  </div>
                  <div class = "order_date">
                      Дата
                  </div>
                  <div class = "total_amount">
                      Сумма
                  </div>
                  <div class = "tel">
                      Моб. телефон  
                  </div>
                </div>
                <% end %>
                <div class = "orders_container">
                  <% if @shop.orders.count == 0 %>
                    <h3 style="text-align: center; padding: 25px">Заказов пока нет</h3>
                  <% end %>
                  <% @shop.orders.each_with_index do |order, idx| %>
                    <div class = "order">
                    <div class = "title" onclick = "ShowOrder(this)">
                      <div class = "number">
                        <%= idx+1 %>.
                      </div>
                      <div class = "customer_name">
                       <%= order.name+" "+order.surname%>
                      </div>
                      <div class = "order_date">
                        <%= order.created_at.strftime(" %H:%M %d.%m.%Y") %>
                      </div>
                      <div class = "total_amount">

                        <%= order.price.round(2) %> ₽
                      </div>
                      <div class = "tel">
                       <%= order.phone %>
                      </div>
                      <div class = "inf_btn">
                        Подробнее
                        <i class="ti-angle-down"></i>
                      </div>
                    </div>
                    <div class = "inner_info">
                      <div class = "wrapper">

                        <div class = "description">
                          <h3>Информация о заказчике</h3>
                        </div>
                        <div class = "main_info">
                          <div>
                            <p>Имя-Фамилия</p>
                          </div>
                          <div class = "content">
                           <%= order.name+" "+order.surname%>
                          </div>
                          <div>
                            <p>Моб. телефон</p>
                          </div>
                          <div class = "content">
                           <%= order.phone %>
                          </div>
                          <div>
                            <p>Адрес</p>
                          </div>
                          <div class = "content">
                            <%= order.address.location %>
                          </div>
                        </div>

                        <div class = "description">
                          <h3>Список товаров заказа</h3>
                        </div>

                        <div class = "items_header">
                          <div>
                            Товар
                          </div>
                          <div>
                            Описание
                          </div>
                          <div>
                            Цена
                          </div>
                          <div>
                            Количество
                          </div>
                          <div>
                            Подытог
                          </div>
                        </div>
                        <div class = "items_container">
                          <% order.ordered_products.each do |op| %>
                           <div class = "item">
                            <div class = "image">
                             <%= image_tag op.main_photo %>
                            </div>
                            <div class = "des">
                              <p class = "product-name"><%= op.title %></p>
                              <p class = "product-des"><%= op.data_view %></p>
                            </div>
                            <div class = "price">
                              <p><%= op.price %>₽</p>
                            </div>
                            <div class = "qty">
                              <p><%= op.quantity %></p>
                            </div>
                            <div class = "sub-total">
                              <%= (op.price * op.quantity).round(2) %>₽
                            </div>

                            <div class = "price_name">
                              Цена
                            </div>
                            <div class = "qty_name">
                              Количество
                            </div>
                            <div class = "sub-total_name">
                              Подытог
                            </div>
                          </div>
                          <% end %>
                        </div>
                        <div class = "items_footer">
                          <div class = "total_name">
                            Итого
                          </div>
                          <div class = "total">
                            <%= order.price %>₽
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <% end %>

                </div>
    </div>
    <div class = "option">
      <ul class="list-products">
        <li class="shop-product">
           <div class="shop-product-inform">
             <div class="product-image">
               <img src="https://via.placeholder.com/100x100" alt="">
             </div>
             <div class="product-inform">
               <p class="product-name"><a href="#">Women Dress</a></p>
               <p class="descr">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
             </div>
           </div>
           <div class="product-elements">
             <div class="price">
             <span>13 900 &#8381;</span>
           </div>
             <div class="quantity">
               <p>Количество:</p>
               <p class="quantity-num">14</p>
             </div>
             <div class="icon-link-container">
               <div class="icon-link">
                 <a href="#"><i class="ti-settings remove-icon"></i></a>
               </div>
               <div class="icon-link">
                 <a href="#"><i class="ti-trash remove-icon"></i></a>
               </div>
             </div>
           </div>
         </li>
        <li class="shop-product">
           <div class="shop-product-inform">
             <div class="product-image">
               <img src="https://via.placeholder.com/100x100" alt="">
             </div>
             <div class="product-inform">
               <p class="product-name"><a href="#">Women Dress</a></p>
               <p class="descr">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
             </div>
           </div>
           <div class="product-elements">
             <div class="price">
               <span>13 900 &#8381;</span>
             </div>
             <div class="quantity">
               <p>Количество:</p>
               <p class="quantity-num">14</p>
             </div>
             <div class="icon-link-container">
               <div class="icon-link">
                 <a href="#"><i class="ti-settings remove-icon"></i></a>
               </div>
               <div class="icon-link">
                 <a href="#"><i class="ti-trash remove-icon"></i></a>
               </div>
             </div>
           </div>
         </li>
        <li class="shop-product">
           <div class="shop-product-inform">
             <div class="product-image">
               <img src="https://via.placeholder.com/100x100" alt="">
             </div>
             <div class="product-inform">
               <p class="product-name"><a href="#">Women Dress</a></p>
               <p class="descr">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
             </div>
           </div>
           <div class="product-elements">
             <div class="price">
               <span>13 900 &#8381;</span>
             </div>
             <div class="quantity">
               <p>Количество:</p>
               <p class="quantity-num">14</p>
             </div>
             <div class="icon-link-container">
               <div class="icon-link">
                 <a href="#"><i class="ti-settings remove-icon"></i></a>
               </div>
               <div class="icon-link">
                 <a href="#"><i class="ti-trash remove-icon"></i></a>
               </div>
             </div>
           </div>
         </li>
        <li class="shop-product">
           <div class="shop-product-inform">
             <div class="product-image">
               <img src="https://via.placeholder.com/100x100" alt="">
             </div>
             <div class="product-inform">
               <p class="product-name"><a href="#">Women Dress</a></p>
               <p class="descr">Maboriosam in a tonto nesciung eget distingy magndapibus.</p>
             </div>
           </div>
           <div class="product-elements">
             <div class="price">
               <span>13 900 &#8381;</span>
             </div>
             <div class="quantity">
               <p>Количество:</p>
               <p class="quantity-num">14</p>
             </div>
             <div class="icon-link-container">
               <div class="icon-link">
                 <a href="#"><i class="ti-settings remove-icon"></i></a>
               </div>
               <div class="icon-link">
                 <a href="#"><i class="ti-trash remove-icon"></i></a>
               </div>
             </div>
           </div>
         </li>
       </ul>
     </div>
   </div>
 </div>


<script>
  if ( document.querySelector('#address-input')){
    var placesAutocomplete_register = places({
        appId: 'pl95AIU49SL1',
        apiKey: 'd63ea66c7015964fa631d4f72045e333',
        container: document.querySelector('#address-input')
    });
    var $address = document.querySelector('#address-value')
    placesAutocomplete_register.on('change', function resultSelected(e) {
        $address.textContent = e.suggestion.value
        document.querySelector('#form-street').value = e.suggestion.name || '';
        document.querySelector('#form-city').value = e.suggestion.city || '';
        document.querySelector('#form-zip').value = e.suggestion.postcode || '';
        document.querySelector('#form-administrative').value = e.suggestion.administrative || '';
        document.querySelector('#form-country').value = e.suggestion.country || '';
        document.querySelector('#form-suburb').value = e.suggestion.suburb || '';
        document.querySelector('#form-county').value = e.suggestion.county || '';
    });
    placesAutocomplete_register.on('clear', function() {
        $address.textContent = 'none';
    });
  }
</script>
