<%= render partial: './header.html.erb' %>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to(controller: 'home', action: 'index') do %>Главная<i class="ti-arrow-right"></i><% end %></li>
            <% if current_user %>
              <li><%= link_to(controller: 'users', action: 'profile') do %>Профиль<i class="ti-arrow-right"></i><% end %></li>
            <% end %>
            <li class="active"><a href="">Мои заказы</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>









<section class="section-profile">
  <div class="container">
    <div class="row wishlist-container">
      <%= render './profile_nav.html.erb' %>

      <div class="profile-main shop wishlist-main col-12">
        <h2>Мои заказы</h2>
        
         <div class = "orders_header">
          <div class = "number">
            №
          </div>
          <div class = "name">
            Название магазина
          </div>
          <div class = "order_date">
            Дата
          </div>
          <div class = "total_amount">
            Сумма
          </div>
          <div class = "tel">
            Моб. телефон  
          </div>
      </div>
      <div class = "orders_container">
        <% if current_user.orders.count == 0 %>
          <h3 style="text-align: center; padding: 25px">Заказов пока нет.</h3>
        <% end %>
          <% current_user.orders.each_with_index do |order, idx| %>
            <div class = "order">
              <div class = "title" onclick = "ShowOrder(this)">
                <div class = "number">
                  <%= idx+1 %>.
                </div>
                <div class = "name">
                 <%= order.shop.name %>
                  <!-- В процессе | Выполнин | Выполняется заготовка товара -->
                </div>
                <div class = "order_date">
                  <%= order.created_at.strftime(" %H:%M %d.%m.%Y") %>
                </div>
                <div class = "total_amount">
                  <%= number_to_currency(order.price, unit:'₽') %>
                </div>
                <div class = "tel">
                  <%= order.phone %>
                </div>
                <div class = "inf_btn">
                  Подробнее
                  <i class="ti-angle-down"></i>
                </div>
              </div>
              <div class = "inner_info">
                <div class = "wrapper">

                    <div class = "description">
                      <h3>Информация о продавце</h3>
                    </div>
                    <div class = "main_info">
                        <div>
                          <p>Имя-Фамилия.</p>
                        </div>
                        <div class = "content">
                          <%= order.name+" "+order.surname%>
                        </div>
                        <div>
                          <p>Моб. телефон</p>
                        </div>
                        <div class = "content">
                          88005553535
                        </div>
                        <div>
                          <p>Адрес Доставки</p>
                        </div>
                        <div class = "content">
                         <%= order.address.location %>
                        </div>
                    </div>

                    <div class = "description">
                      <h3>Список товаров заказа</h3>
                    </div>
                    <div class = "items_header">
                      <div>
                        Товар
                      </div>
                      <div>
                        Описание
                      </div>
                      <div>
                        Цена
                      </div>
                      <div>
                        Количество
                      </div>
                      <div>
                        Подытог
                      </div>
                    </div>
                    <div class = "items_container">

                      <% order.ordered_products.each do |op| %>
                        <%= link_to controller: 'products', action: 'show', id: op.product.try(:id) ? op.product.try(:id) : -1 do%>
                          <div class = "item">
                            <div class = "image">
                              <%= image_tag op.main_photo %>
                            </div>
                            <div class = "des">
                              <p class = "product-name"><%= op.title %></p>
                              <p class = "product-des"><%= op.data_view %></p>
                            </div>
                            <div class = "price">
                              <p><%= op.price %>₽</p>
                            </div>
                            <div class = "qty">
                              <p><%= op.quantity %></p>
                            </div>
                            <div class = "sub-total">
                              <%= (op.price * op.quantity).round(2) %>₽
                            </div>

                            <div class = "price_name">
                              Цена
                            </div>
                            <div class = "qty_name">
                              Количество
                            </div>
                            <div class = "sub-total_name">
                              Подытог
                            </div>
                          </div>
                        <% end %>

                      <% end %>


                          
                    </div>
                    <div class = "items_footer">
                      <div class = "total_name">
                        Итого
                      </div>
                      <div class = "total">
                        1233.4₽
                      </div>
                    </div>
                        
                </div>
              </div>
          </div>
          <% end %>


      </div>

      </div>
    </div>
  </div>
</section>
