
<%= render partial: './header.html.erb' %>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to(controller: 'home', action: 'index') do %>Главная<i class="ti-arrow-right"></i><% end %></li>
            <li class="active"><a href="">Профиль</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section-profile" data-show-main="<%= @errors_main.count > 0 ? 'true' : 'false' %>"
         data-show-password="<%= flash[:errors_password] ? 'true' : 'false' %>">
<div class="container">

  <div class="row">
   <%= render './profile_nav.html.erb' %>
    <div class="profile-main col-lg-8 col-md-8">
      <h2>Мои данные</h2>
      <div class="inform-profile">
        <%= form_with class: "form", multipart: true do %>
          <% if @mail_change %>
            <li>На указанный адрес отправлена ссылка для подтверждения эл.почты</li>
          <% end %>
          <div class="error-list" style="display: block;">
            <% @errors_main.each do |messages| %>
                <% messages.each do |error| %>
                <li> <%= error %> </li>
                <% end %>
            <% end %>
          </div>
          <div class = "data user_photo">
            <div class = "current_photo">
              <p>Ваше фото</p>
              <!--<img src="https://cdni0.trtworld.com/w960/h540/q75/55878_USA2019AP_1558293073903.jpg">-->
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar %>
                <% else %>
                <%= image_tag "no_avatar.png"%>
              <% end %>
            </div>
              
              
              <div class = "user_photo_change">
                
              </div>
              
          </div>
          <section class="change name_change">
                <div class="form-group img-preloader Image">
                       <div class="label-container">
                            <label for = "main_image" class = "btn">Обновить изображение...</label>
                           <input id = "main_image" type="file" accept="image/*" onchange="preview_image(this)" name="main_photo">
                           <input name="main_photo_changed" type="text" value = "No">
                          <div class="error-list"></div>
                        </div>
              </div>
                <div class="error-list"></div>
              </section>
          <div>
            <p>Имя</p>
            <p class="data"><%= @old_user.name %></p>
            <section class="change name_change">
              <input name="name" type="text" placeholder="" value="<%= @user.name %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Фамилия</p>
            <p class="data"><%= @old_user.surname %></p>
            <section class="change name_change">
              <input name="surname" type="text" placeholder="" value="<%= @user.surname %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Отчество</p>
            <p class="data"><%= @old_user.third_name %></p>
            <section class="change name_change">
              <input name="third_name" type="text" placeholder="" value="<%= @user.third_name %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Электронная почта</p>
            <p class="data email_data"><%= @old_user.email %></p>
            <section class="change email_change">
              <input name="email" type="email" placeholder="" value="<%= @user.email_temp_change == nil ? @user.email : @user.email_temp %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Телефон</p>
            <p class="data"><%= @old_user.phone ? @old_user.phone : '---' %></p>
            <section class="change phone_change">
              <input name="phone" type="text" placeholder="---" value="<%= @user.phone ? @user.phone : '' %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Домашний адрес</p>
            <p class="data"><%= @old_user.location %></p>
            <section class="change adress_change">

              <div id="locationField" class="form-group">
                <input type="search" id="address-input" value="<%=  @user.location  %>"/>
                <p style="width: 300px;">Выбрано: <strong id="address-value"><%=  !@user.location.blank? ? @user.location : ' ---'%></strong></p>
              </div>
              <div style="display: none">
                <input name="street" class="field" id="form-street"  value="<%=  @user.street %>"/>
                <input name="city" class="field" id="form-city"  value="<%=  @user.city  %>"/>
                <input name="state" class="field" id="form-administrative"  value="<%= @user.state %>"/>
                <input name="zip" class="field" id="form-zip"  value="<%=  @user.zip  %>"/>
                <input name="country" class="field" id="form-country" value="<%= @user.country %>"/>
                <input name="county" class="field" id="form-county" value="<%=  @user.county %>"/>
                <input name="suburb" class="field" id="form-suburb" value="<%=  @user.suburb  %>"/>
              </div>
            </section>
          </div>
        <!--  <div>
            <p>Тип аккаунта</p>
            <p class="data">Юридическое лицо</p>
          </div> -->
          
          <section class="change_confirmation_btn">
                <div class="form-group button">
                    <button type="submit" class="btn">Подтвердить изменения</button>
                </div>
          </section>
      <% end %>
        
      </div>

      <div class="actions">
        <a class = "change_user_data" >Редактировать личные данные</a>
        <a class = "change_user_password">Изменить пароль</a>
        <%= form_with  method: :put, calss: 'form' do %>
          <div class = "password_change">
            <div>
              <div class="error-list" style="display: block;">
                <% if flash[:errors_password] %>
                  <% flash[:errors_password].each do |messages| %>
                    <% messages.each do |error| %>
                      <li> <%= error %> </li>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <label>Старый пароль</label>
              <input type="password" name="old_password">
              <label>Новый пароль</label>
              <input class = "" name="password" type="password" placeholder="" value="">

              <label>Подтвердите пароль</label>
              <input class = "" name="password_confirmation" type="password" placeholder="" value="">

              <div class="form-group button">
                    <button type="submit" class="btn">Подтвердить изменения</button>
              </div>
            </div>
          </div>
        <% end %>
      <!--  <a href="#">Удалить аккаунт</a>
        <a href="#">Выйти</a> -->
      </div>
      <div class = "my_shops_list">
        <div class = "my_shops_title">
          <h3>Мои магазины</h3>
          <div class = "add_shop_button">
            <%= link_to({controller: 'shops', action: 'new'}, class: 'single-icon') do %><i class="fa fa-plus" aria-hidden="true"></i><% end %>
          </div>
        </div>
      </div>
      <div class="list-shops">
        <div>
          <ul class="shop-list">
            <% @user.shops.each do |shop| %>
            <li>
              <div class="shop-inform">
                <div class="shop-image">
                  <% if shop.main_photo.attached? %>
                    <%= image_tag shop.main_photo, class: 'image' %>
                  <% else %>
                    <%= image_tag url_for('shop.png'), class: 'image' %>
                  <% end %>
                </div>
                <div class="shop-name">
                  <%= link_to shop.name, controller: 'shops', action: 'index', id: shop.id %>
                  <% if shop.description %>
                    <p class="descr" style="font-weight: normal; padding-top: 5px;"> <%= shop.description[0..70] %><%= shop.description.length > 70? "..." : "" %></p>
                  <% end %>

                </div>
              </div>

              <div class="link-settings">
                <%= link_to({controller: 'shops', action: 'profile', id: shop.id}, {class: 'edit-shop'} ) do%>
                  Управление<i class="ti-settings remove-icon"></i>
                <% end %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<script>
    if ( document.querySelector('#address-input')){
        var placesAutocomplete_register = places({
            appId: 'pl95AIU49SL1',
            apiKey: 'd63ea66c7015964fa631d4f72045e333',
            container: document.querySelector('#address-input')
        });
        var $address = document.querySelector('#address-value')
        placesAutocomplete_register.on('change', function resultSelected(e) {
            $address.textContent = e.suggestion.value;
            document.querySelector('#form-street').value = e.suggestion.name || '';
            document.querySelector('#form-city').value = e.suggestion.city || '';
            document.querySelector('#form-zip').value = e.suggestion.postcode || '';
            document.querySelector('#form-administrative').value = e.suggestion.administrative || '';
            document.querySelector('#form-country').value = e.suggestion.country || '';
            document.querySelector('#form-suburb').value = e.suggestion.suburb || '';
            document.querySelector('#form-county').value = e.suggestion.county || '';
        });
        placesAutocomplete_register.on('clear', function() {
            $address.textContent = 'none';
        });
    }
</script>
