
<%= render partial: './header.html.erb' %>


<section class="section-profile">
<div class="container">
  <div class="row">
   <%= render './profile_nav.html.erb' %>
    <div class="profile-main">
      <h2>Мои данные</h2>
      <div class="inform-profile">
        <%= form_with class: "form" do %>
          <div>
            <p>Имя</p>
            <p class="data"><%= @user.name %></p>
            <section class="change name_change">
              <input name="name" type="text" placeholder="" value="<%= @user.name %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Фамилия</p>
            <p class="data"><%= @user.surname %></p>
            <section class="change name_change">
              <input name="surname" type="text" placeholder="" value="<%= @user.surname %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Электронная почта</p>
            <p class="data email_data"><%= @user.email %></p>
            <section class="change email_change">
              <input name="email" type="email" placeholder="" value="<%= @user.email %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Телефон</p>
            <p class="data"><%= @user.phone ? @user.phone : '---' %></p>
            <section class="change phone_change">
              <input name="phone" type="text" placeholder="" value="<%= @user.phone ? @user.phone : '---' %>">
              <div class="error-list"></div>
            </section>
          </div>
          <div>
            <p>Домашний адрес</p>
            <p class="data"><%= @user.location %></p>
            <section class="change adress_change">

              <div id="locationField" class="form-group">
                <input type="search" id="address-input" value="<%= current_user ? current_user.location : '' %>"/>
                <p style="width: 300px;">Выбрано: <strong id="address-value"><%= current_user and !current_user.location.blank? ? current_user.location : ' ---'%></strong></p>
              </div>
              <div style="display: none">
                <input name="street" class="field" id="form-street"  value="<%= current_user ? current_user.street : '' %>"/>
                <input name="city" class="field" id="form-city"  value="<%= current_user ? current_user.city : '' %>"/>
                <input name="state" class="field" id="form-administrative"  value="<%= current_user ? current_user.state : '' %>"/>
                <input name="" class="field" id="form-zip"  value="<%= current_user ? current_user.zip : '' %>"/>
                <input name="country" class="field" id="form-country" value="<%= current_user ? current_user.country : '' %>"/>
                <input name="county" class="field" id="form-county" value="<%= current_user ? current_user.county : '' %>"/>
                <input name="suburb" class="field" id="form-suburb" value="<%= current_user ? current_user.suburb : '' %>"/>
              </div>
            </section>
          </div>
        <!--  <div>
            <p>Тип аккаунта</p>
            <p class="data">Юридическое лицо</p>
          </div> -->

          <section class="change_confirmation_btn">
                <div class="form-group button">
                    <button type="submit" class="btn">Подтвердить изменения</button>
                </div>
          </section>
      <% end %>
      </div>
      <div class="actions">
        <a class = "change_user_data" >Редактировать личные данные</a>
        <a class = "change_user_password">Изменить пароль</a>
        <form class = "form">
          <div class = "password_change">
            
            <div>
              <label>Старый пароль</label>
              <input type="text" name="old_password"  type="password">
              <label>Новый пароль</label>
              <input class = "" name="password" type="password" placeholder="" value="">

              <label>Подтвердите пароль</label>
              <input class = "" name="passwprd_confirmation" type="password" placeholder="" value="">

              <div class="form-group button">
                    <button type="submit" class="btn">Подтвердить изменения</button>
              </div>
            </div>
          </div>
        </form>
        <a href="#">Удалить аккаунт</a>
        <a href="#">Выйти</a>
      </div>
    </div>
  </div>
</div>
</section>


<script>
    if ( document.querySelector('#address-input')){
        var placesAutocomplete_register = places({
            appId: 'pl95AIU49SL1',
            apiKey: 'd63ea66c7015964fa631d4f72045e333',
            container: document.querySelector('#address-input')
        });
        var $address = document.querySelector('#address-value')
        placesAutocomplete_register.on('change', function resultSelected(e) {
            $address.textContent = e.suggestion.value;
            document.querySelector('#form-street').value = e.suggestion.name || '';
            document.querySelector('#form-city').value = e.suggestion.city || '';
            document.querySelector('#form-zip').value = e.suggestion.postcode || '';
            document.querySelector('#postal-code').value = e.suggestion.postcode || '';
            document.querySelector('#form-administrative').value = e.suggestion.administrative || '';
            document.querySelector('#form-country').value = e.suggestion.country || '';
            document.querySelector('#form-suburb').value = e.suggestion.suburb || '';
            document.querySelector('#form-county').value = e.suggestion.county || '';
        });
        placesAutocomplete_register.on('clear', function() {
            $address.textContent = 'none';
        });
    }
</script>
