<%= render partial: './header.html.erb' %>
<section class="contact-us registration section">
  <div class="container">
      <div class="form-main">
        <div class="title">
          <h2>Регистрация</h2>
        </div>
        <%= form_with class: "form",:html =>{'novalidate'=>''}, multipart: true do %>
          <div class="error-list">
            <% @errors.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
            <% @user.errors.messages.values.each do |msg| %>
              <%msg.each do  |m| %>
                <li><%= m %></li>
              <%end %>
            <% end %>
          </div>
        <div class="form form_row">
          <div class="row">
            <div class="col-lg-6 col-12">

                <div class="form-group Email" data-min="5" data-max="50">
                    <label>Эл. почта<span>*</span></label>
                    <input name="email" type="email" placeholder=""  value="<%= @user.email %>">
                    <div class="error-list"></div>
                </div>
                <div class="form-group Name" data-min="0">
                  <label>Имя<span>*</span></label>
                  <input name="name" placeholder=""  value="<%= @user.name %>">
                  <div class="error-list"></div>
                </div>
              <div class="form-group Name" data-min="0">
                <label>Фамилия<span>*</span></label>
                <input name="surname" placeholder=""  value="<%= @user.surname %>">
                <div class="error-list"></div>
              </div>

                <div class="form-group Password" data-min="8" data-max="50">
                    <label>Пароль<span>*</span></label>
                    <input name="password" type="password" placeholder="">
                    <div class="error-list"></div>
                </div>

                <div class="form-group Double_Password">
                    <label>Подтверждение пароля<span>*</span></label>
                    <input name="pass" type="password" placeholder="">
                    <div class="error-list"></div>
                </div>

           <!--     <div class="form-group Tel_Number" data-min="5" data-max="50">
                    <label>Телефон<span>*</span></label>
                    <input name="phone" type="tel" placeholder="+7-(XXX)-XXX-XX-XX">
                    <div class="error-list"></div>
                </div>  -->
                
            </div>

            </div>
          <!--  <div class = "col-12 col-lg-6">
              <div class="form-group Category">
                    <label>Выберите город<span>*</span></label>
                    <p style="display: flex" >
                        <select name="category" class="category_select">
                          <option value="" disabled selected>--------</option>
                          <option value="Taganrog">Таганрог</option>
                          <option value="Rostov">Ростов</option>
                          <option value="Moscow">Москва</option>
                          <option value="Smolensk">Смоленск</option>
                        </select>
                    </p>
                    <div class="error-list"></div>
                  </div>
            </div> -->
            <div class="col-lg-10 col-12">
              <div class="form-group button">
                <button type="submit" class="btn">Зарегистрироваться</button>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>
