<%= render partial: './header.html.erb' %>



<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class = "add_product_section">
          <div class="form-main">
            <div class="title">
              <h3>Добавить товар</h3>
            </div>

            <%= form_with class: "form", multipart: true do %>
              <div class="error-list">
                <% @errors.each do |msg| %>
                  <li>
                    <%= msg %>
                  </li>
                <% end %>
                <% @product.errors.messages.values.each do |msg| %>
                  <%msg.each do  |m| %>
                    <li><%= m %></li>
                  <%end %>
                <% end %>
                </div>
              <div class="row form_row">
                <div class="col-lg-6 col-12">
                  <div class="form-group Text" data-min="5" data-max="50">
                    <label>Наименование<span>*</span></label>
                    <input name="name" type="text" placeholder="" value="<%= @product.title %>">
                    <div class="error-list"></div>
                  </div>
                 <div class="form-group img-preloader Image">
                    <div class="label-container">
                      <label for = "main_image" class = "btn">Загрузите фото</label>
                      <input id = "main_image" type="file" accept="image/*" onchange="preview_image(this)" name="main_photo">
                      <input name="main_photo_changed" type="text" value = "No">
                      <div class="error-list"></div>
                    </div>
                  </div>

               
                </div>
                <div class="col-12 col-lg-6">
                  <div class="form-group Number form-group-quantity" data-min="0" data-max="">
                    <label>Количество товаров<span>*</span></label>

                    <input name="quantity" type="number" placeholder="<%= @product.quantity %>" value="<%= @product.quantity %>" class="inp_quantity">
                    <div class="error-list"></div>
                  </div>
                  <div class="form-group Bool new_checkbox bounce" data-min="" data-max="">
                        <input id = "is_inf_quantity" name="is_inf_quantity" type="checkbox" placeholder="" class="inf_quantity" <%= @product.is_inf_quantity ? "checked" : "" %>>
                        <svg viewBox="0 0 21 21">
                          <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                        </svg>
                        <label for="is_inf_quantity">Неограниченное количество</label>
                        <div class="error-list"></div>
                  </div>
                  <div class="form-group Category">
                    <label>Категория<span>*</span></label>
                    <p style="display: flex" >
                        <select name="category" class="category_select" onchange="CategoryCheck(this)">
                          <option value="" disabled <%= @category ? "" : "selected" %> value>-------</option>
                          <% @categories.each do |el| %>

                            <option value="<%= el.id %>"  <%= @category && @category.id == el.id ? "selected" : "" %>><%= el.name %></option>
                          <% end %>

                        </select>

                    </p>
                    <div class="error-list"></div>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group Number" data-min="0" data-max="">
                    <label>Цена<span>*</span></label>
                    <input name="price" type="number" step="0.01" placeholder="" value="<%= @product.price != 0 ? @product.price : "" %>">
                    <div class="error-list"></div>
                  </div>
                  <div class="form-group LongText" data-min="10" data-max="2000">
                    <label>Описание<span>*</span></label>
                    <textarea name="description"  placeholder="" ><%= @product.description %></textarea>
                    <div class="error-list"></div>
                  </div>
                </div>
               <div class="col-12">
                  <div class="form-group form-group_dev Maker" style="display: block">
                    <label>Производитель<span>*</span></label>
                      <p style="display: flex" >
                        <select  onchange="ListCheck(this)" name="maker" class="form-group_dev_select">
                          <option value="" disabled selected value="">-------</option>
                        </select>
                    </p>
                    <div class="error-list"></div>
                  </div>
                </div>

               

               <div id = "developer_input" class="col-12" style = "display:none;">
                  <div class="form-group">
                    <label>Наименование производителя<span>*</span></label>
                    <input id = "developer_input_inp" name="custom_maker" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-12 generated_fields">

                </div>
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn ">Отправить</button>
                  </div>
                </div>


              </div>
           <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

