<%= render partial: './header.html.erb' %>
<div class="container">
	<div class="shop-name-container">
  		<div class="image">
    		<img src="https://via.placeholder.com/50x50" alt="">
  		</div>
  		<p class="shop-name">Пятёрочка</p>
	</div>
</div>
<section id="contact-us" class="contact-us section">
	<div class="container">
		<div class="contact-head">
			<div class="row">
				<div class = "add_product_section">
					<div class="form-main">
						<div class = "product_title_show">
								<h3><%= @product.title %></h3>
								<a href = "#" class="fa fa-times return_prev" aria-hidden="true"></a>
						</div>
						<div class="title col-lg-6">



							<p>В наличии:
							<% if @product.is_inf_quantity %>
									неограничено
								<% else %>
									<%= @product.quantity %>
							<% end %>

							</p>
						</div>

							<div class = "row form-row" style="padding-left: 10px; padding-right: 10px;">
								<div class="col-lg-6">
									<%= link_to @product.main_photo, :target => "_blank" do%>
										<%= image_tag @product.main_photo, :class=>"show_main_photo"%>
									<% end %>
									
									



									<div class="quickview-ratting-review" style="margin: 15px 0 0">
										<div class="quickview-ratting-wrap">
											<div class="quickview-ratting" style="font-size: 24px">

												<% (1..@product.mark.round()).each do |i| %>
												<i class="yellow fa fa-star"></i>
												<% end %>
												<% (@product.mark.round()..4).each do |i| %>
													<i class="fa fa-star"></i>
												<% end %>
											</div>
											<a href="#"> (Отзывов о товаре: <%= @product.posts.count %>)</a>
										</div>

									</div>
									<div class = "title inside_title">
										<h3>Категории</h3>
									</div>

									<div class = "categories">

										<% @product.category.path.each do |el|%>
											<p><%= el.name %></p>
										<%end %>

									</div>
								</div>
								<div class="col-lg-6 col-12">

									<div class="form-group add-to-cart">
										<h3 class = "left product_price"><%= @product.price == @product.price.floor ? @product.price.to_i : @product.price %>₽</h3>
										<div class = "buttons_group product_add_to">
											<span class="add_to_cart_wrapper">
													<% if !is_in_cart(@product.id) %>
														<span onclick="addtoCart(<%= @product.id %>, this)" class="btn">Добавить в корзину</span>
													<% else %>
														<%= link_to('Уже в корзине', {controller: 'cart', action: 'index'}, class: 'btn active' ) %>
													<% end %>

											</span>
											<!-- <= is_in_wishlist(@product.id) ? 'active' : '' %> -->
											<% if current_user %>
											<span class="btn min <%= is_in_wishlist(@product.id) ? 'active' : '' %>" onclick = "addtoWishlist(<%= @product.id %>, this)"><i class="<%= is_in_wishlist(@product.id) ? 'fa fa-heart' : 'ti-heart' %>"></i></span>
											<% end %>
										</div>
									</div>
									<h4>Характеристики</h4>
									<div class="limiter">


										<div class="table100">
											<table>
												<thead>
												<!--<tr class="table100-head">
                          <th class="column1">Название</th>
                          <th class="column2">Значение</th>

                        </tr>-->
												</thead>
												<tbody>
													<tr>
														<td class="column1">Производитель</td>
														<td class="column2">
															<% if @product.maker_name  %>
																<%= @product.maker_name %>
															<% else %>
																<%=	@product.maker.name%>
															<% end %>
														</td>
													</tr>
												<% @fields.each do |el| %>
													<tr>
														<td class="column1"><%= el.name %>
														<% if el.hint %>
															(<%= el.hint  %>)
														<% end %>
														</td>
														<td class="column2">
															<% if el.type_name == "Number"%>
																<%= el.num == el.num.floor ? el.num.to_i : el.num %>

															<% elsif  el.type_name == "Text" || el.type_name == "LongText"%>
																<%= el.text %>

															<% elsif  el.type_name == "Bool"%>
																<%= el.check ? 'Да' : 'Нет' %>
															<% end %>

														</td>

													</tr>

												<% end %>



												</tbody>
											</table>


										</div>
									</div>

								</div>
								<div class = "description col-12">
									<div class = "title inside_title">
										<h3>Описание товара</h3>
									</div>

									<p><%= @product.description %></p>
								</div>

								<% @images.each do  |el|   %>
								<div class="col-12">
									<h3 class = "title inside_title images_title">
										<%= el.name %>
									</h3>
									<div class="owl-carousel product-images-slider">
										<!-- Start Single Product -->
										<%el.files.each do |image| %>
											<div class="single-product">
											<div class="product-img">
												<%= link_to image, :target => "_blank" do%>
													<%= image_tag image, :class=>"default-img show_default_img" %>
												<% end %>
												

											</div>

											</div>
										<% end %>



										<!-- End Single Product -->

									</div>
								</div>
								<% end %>
								<div class = "reviews">
									<div class = "title inside_title" style="display: <%= @product.posts.count > 0 ? "block": "none" %>">
										<h3>Отзывы</h3>
									</div>
									<% if current_user %>
									<form action="" class="post_review_form">
									<div class = "form-group form-group-review">
										<label>Оставьте свой отзыв</label>
										<div class="error-list review_errors"></div>
										<div class="quickview-ratting post_review_ratting set_rating">
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>

										</div>
										<input type="number" class="ratting_inp" style="display: none" value="0">
										<div class="form-group LongText" data-min="10" data-max="2000" style="margin-bottom: 0;"><textarea name="body" class="post_body"></textarea><div class="error-list"></div></div>
										<div class="form-group img-preloader Image" style="margin-bottom: 0;"><div class="label-container"><label for = "images[]" class = "btn" style="padding: 8px;">Прикрепить фото...</label><input id = "images[]" type="file" accept="image/*" onchange="preview_image(this)" name="images[]" multiple class="review_images"><div class="error-list"></div></div></div>
										<button type="submit" class="btn review_btn">Отправить отзыв</button>
									</div>
									</form>
										<% end %>
									<!--<div class="col-12">
                        <div class="form-group button">
                          <button type="submit" class="btn review_btn">Отправить отзыв</button>
                        </div>
                      </div>-->
									<div class="posts_wrap">
										<% @posts.each do |post| %>


											<div class = "single_review" id="<%= post.id %>">
												<div class = "user_attributes">
													<div class = "reviewer_name">
														<%= post.user.name%>
													</div>
													<% if post.user.avatar.attached? %>
														<%= image_tag post.user.avatar, :class=>"user_photo_review" %>
													<% else%>
														<%= image_tag "no_avatar.png", :class=>"user_photo_review" %>
													<% end %>


													<div class = "view_review_rating">
														<% for i in 0...post.mark %>
															<span>&#9733;</span>
														<% end %>
														<% for i in post.mark...5 %>
															<span>☆</span>
														<% end %>

													</div>
												</div>
												<div style="width: 100%; display: flex; flex-direction: column">
													<div class = "review_text">
														<%= post.body %>


													</div>
													<div class="review_imgs" style="margin-top: auto;">
														<% post.images.each do |img| %>
														    <%= link_to img, :target => "_blank" do%>
																<%= image_tag img %>
															<% end %>
														<% end %>
													</div>
													<div style=" padding-top: 10px">
														<div>
															<%= post.created_at.strftime("%H:%M %d.%m.%Y") %>
														</div>
														<% if current_user and current_user.id == post.user.id %>
														<div class = "del_button" onclick="delete_review(<%= post.id %>)">
																Удалить
														</div>
															<% end %>
													</div>
												</div>

											</div>
										<% end %>
									</div>

								</div>


							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

