<%= render partial: './header.html.erb' %>


<section id="contact-us" class="contact-us section">
	<div class="container">
		<div class="contact-head">
			<div class="row">
				<div class = "add_product_section">
					<div class="form-main">
						<div class="title col-lg-6">



							<h3><%= @product.title %></h3>
							<p>В наличии:
							<% if @product.is_inf_quantity %>
									неограничено
								<% else %>
									<%= @product.quantity %>
							<% end %>

							</p>
						</div>

							<div class = "row form-row" style="padding-left: 10px; padding-right: 10px;">
								<div class="col-lg-6">
									<%= image_tag @product.main_photo %>


									<div class="quickview-ratting-review">
										<div class="quickview-ratting-wrap">
											<div class="quickview-ratting">
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="yellow fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<a href="#"> (1 customer review)</a>
										</div>
										<div class="quickview-stock">
											<span><i class="fa fa-check-circle-o"></i> in stock</span>
										</div>
									</div>
									<div class = "title inside_title">
										<h3>Категории</h3>
									</div>

									<div class = "categories">

										<% @product.category.path.each do |el|%>
											<p><%= el.name %></p>
										<%end %>

									</div>
								</div>
								<div class="col-lg-6 col-12">

									<div class="form-group add-to-cart">
										<h3 class = "left product_price"><%= @product.price == @product.price.floor ? @product.price.to_i : @product.price %>₽</h3>
										<div class = "buttons_group product_add_to">

											<a href="#" class="btn">Add to cart</a>
											<a href="#" class="btn min"><i class="ti-heart"></i></a>
										</div>
									</div>
									<h4>Характеристики</h4>
									<div class="limiter">


										<div class="table100">
											<table>
												<thead>
												<!--<tr class="table100-head">
                          <th class="column1">Название</th>
                          <th class="column2">Значение</th>

                        </tr>-->
												</thead>
												<tbody>
													<tr>
														<td class="column1">Производитель</td>
														<td class="column2">
															<% if @product.maker_name  %>
																<%= @product.maker_name %>
															<% else %>
																<%=	@product.maker.name%>
															<% end %>
														</td>
													</tr>
												<% @fields.each do |el| %>
													<tr>
														<td class="column1"><%= el.name %>
														<% if el.hint %>
															(<%= el.hint  %>)
														<% end %>
														</td>
														<td class="column2">
															<% if el.type_name == "Number"%>
																<%= el.num == el.num.floor ? el.num.to_i : el.num %>

															<% elsif  el.type_name == "Text" || el.type_name == "LongText"%>
																<%= el.text %>

															<% elsif  el.type_name == "Bool"%>
																<%= el.check ? 'Да' : 'Нет' %>
															<% end %>

														</td>

													</tr>

												<% end %>



												</tbody>
											</table>


										</div>
									</div>

								</div>
								<div class = "description col-12">
									<div class = "title inside_title">
										<h3>Описание товара</h3>
									</div>

									<p><%= @product.description %></p>
								</div>
								<% @images.each do  |el|   %>
								<div class="col-12">
									<h3 class = "title inside_title">
										<%= el.name %>
									</h3>
									<div class="owl-carousel product-images-slider">
										<!-- Start Single Product -->
										<%el.files.each do |image| %>
											<div class="single-product">
											<div class="product-img">
												<%= image_tag image, :class=>"default-img" %>

											</div>

											</div>
										<% end %>



										<!-- End Single Product -->

									</div>
								</div>
								<% end %>
								<div class = "reviews">
									<div class = "title inside_title">
										<h3>Отзывы</h3>
									</div>
									<form action="" class="post_review_form">
									<div class = "form-group form-group-review">
										<label>Оставьте свой отзыв</label>
										<div class="quickview-ratting post_review_ratting set_rating">
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>
											<span class="post_review_ratting_el">☆</span>

										</div>
										<input type="number" class="ratting_inp" style="display: block" value="0">
										<div class="form-group LongText" data-min="10" data-max="2000" style="margin-bottom: 0;"><textarea name="body"></textarea><div class="error-list"></div></div>
										<div class="form-group img-preloader Image" style="margin-bottom: 0;"><div class="label-container"><label for = "images[]" class = "btn" style="padding: 8px;">Прикрепить фото...</label><input id = "images[]" type="file" accept="image/*" onchange="preview_image(this)" name="images[]" multiple><div class="error-list"></div></div></div>
										<button type="submit" class="btn review_btn">Отправить отзыв</button>
									</div>
									</form>
									<!--<div class="col-12">
                        <div class="form-group button">
                          <button type="submit" class="btn review_btn">Отправить отзыв</button>
                        </div>
                      </div>-->
									<div class = "single_review">
										<div class = "user_attributes">
											<div class = "reviewer_name">
												Alex
											</div>
											<img class = "user_photo_review" src="https://lunafon.ru/image/cache/catalog/Telephones/XiaomiNew/xiaomi-mi-10-twilight-grey-1000x1000.jpg" alt="#">
											<div class = "view_review_rating">
												<span>&#9733;</span>
												<span>&#9733;</span>
												<span>&#9733;</span>
												<span>&#9733;</span>
												<span>☆</span>
											</div>
										</div>
										<div class = "review_text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a lorem tincidunt, pulvinar risus ut, efficitur nulla. Aenean egestas dictum augue, quis ullamcorper dui luctus tincidunt. Vivamus arcu elit, dignissim ultricies nisl eget, sodales laoreet sapien. Proin venenatis tempor tincidunt. Mauris id volutpat nunc. Nullam bibendum lobortis faucibus. Suspendisse fringilla, nunc eu congue lacinia, nisl nunc tincidunt eros, sit amet pharetra tellus tellus ac eros. Aliquam vitae molestie arcu, fermentum viverra urna. Praesent vel gravida lectus. Mauris laoreet, velit eget tristique rhoncus, mi est convallis leo, viverra imperdiet lorem lorem ac lectus. Nam aliquet odio neque, et sodales turpis tincidunt vel. Morbi suscipit laoreet venenatis. Nunc sagittis enim ut dapibus sollicitudin.
											<div class = "date">
												Posted 21 July 2020
											</div>

										</div>

									</div>
									<div class = "single_review">
										<div class = "user_attributes">
											<div class = "reviewer_name">
												Putin
											</div>
											<img class = "user_photo_review" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Vladimir_Putin_%282017-07-08%29.jpg/250px-Vladimir_Putin_%282017-07-08%29.jpg" alt="#">
											<div class = "view_review_rating">
												<span>&#9733;</span>
												<span>&#9733;</span>
												<span>&#9733;</span>
												<span>&#9734;</span>
												<span>☆</span>
											</div>
										</div>
										<div class = "review_text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a lorem tincidunt, pulvinar risus ut, efficitur nulla. Aenean egestas dictum augue, quis ullamcorper dui luctus tincidunt. Vivamus arcu elit, dignissim ultricies nisl eget, sodales laoreet sapien. Proin venenatis tempor tincidunt. Mauris id volutpat nunc. Nullam bibendum lobortis faucibus. Suspendisse fringilla, nunc eu congue lacinia, nisl nunc tincidunt eros, sit amet pharetra tellus tellus ac eros. Aliquam vitae molestie arcu, fermentum viverra urna. Praesent vel gravida lectus. Mauris laoreet, velit eget tristique rhoncus, mi est convallis leo, viverra imperdiet lorem lorem ac lectus. Nam aliquet odio neque, et sodales turpis tincidunt vel. Morbi suscipit laoreet venenatis. Nunc sagittis enim ut dapibus sollicitudin.
											<div class = "date">
												Posted 21 July 2020
											</div>

										</div>

									</div>
								</div>


							</div>






					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>

