<!-- Breadcrumbs -->
<div class="breadcrumbs" id="turbolinks_top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><%= link_to({controller: controller, action: 'index', category_id: ""}, data: {'turbolinks-no-scroll'=> true}) do %> Все
                <% if @category %>
                  <i class="ti-arrow-right"></i>
                <% end %>
              <% end %></li>
            <% if @category %>
              <% @category.path.each do |el| %>
                <li><%= link_to({controller: controller, action: 'index', category_id: el.id}, data: {'turbolinks-no-scroll'=> true}) do %>
                    <%= el.name %>
                    <% if el != @category.path.last %>
                      <i class="ti-arrow-right"></i>
                    <% end %>
                  <% end %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->


<!-- Product Style -->
<%= form_with :url => url_for(controller:controller, action: 'index'), method: "get", data: {'turbolinks-form'=>'true', 'scrollToTop'=>true} do %>
<section class="product-area shop-sidebar shop section" style="padding-top: 20px">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="shop-sidebar">
          <!-- Single Widget -->
          <div class="single-widget category">

            <h3 class="title">
              <% if @category %>
                <%= link_to({controller: controller, action: "index", category_id: @category && @category.parent ? @category.parent.id : ''}, data: {'turbolinks-no-scroll'=> 'true'}) do  %>
                  <
                <% end %>
              <% end %>
              Категория: <%= @category ? @category.name : 'Все' %>
            </h3>
            <ul class="categor-list list_lowercase">
              <% @categories = @category ? @category.children : all_categories.roots %>

              <%  @categories.each do |el| %>

                <li><%= link_to({controller: controller, action: "index", category_id: el.id}, data: {'turbolinks-no-scroll'=> 'true'})  do%>
                    <%= el.name %>  <%= el.is_template ? "(#{cat_count(params[:qty], el.id)})" : "" %>
                  <% end %>
                </li>
              <% end %>


            </ul>
          </div>
          <!--/ End Single Widget -->
          <!-- Shop By Price -->

            <div class="single-widget range">
              <h3 class="title">Shop by Price</h3>
              <div class="price-filter">
                <div class="price-filter-inner">
                  <div class="range-slider" data-max="<%= @max_price %>" data-min="<%= @min_price%>">
                    <input type="text" class="js-range-slider" value="" />
                  </div>

                  <div class="price_slider_amount">
                    <div class="label-input">
                      <div>Range:</div>
                      <!--<input type="text" id="amount" name="price" placeholder="Add Your Price"/>-->
                      <div style="display: flex">
                        <input type="text" id="amount_min" name="price_min" placeholder="" style="width: 105px" value="<%= params[:price_min] ? params[:price_min] : @min_price %>"/>
                        /
                        <input type="text" id="amount_max" name="price_max" placeholder="" style="width: 105px" value="<%= params[:price_max] ? params[:price_max] : @max_price  %>"/>
                      </div>
                    </div>
                    <div style="padding: 15px 0">
                      <input type="checkbox" name="qty" id="qty_checkbox" value="yes" <%= !params[:qty] || params[:qty] == 'yes'? 'checked' : '' %>>
                      <input type="checkbox" name="qty" id="qty_checkbox2" hidden value="no" <%=  params[:qty] == 'no'? 'checked' : '' %>>
                      <span style="font-weight: bold; font-size: 14px;">Товары в наличии</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filters-wrap">
                <% @template.each do |el| %>
                  <% if el['type'] == 'Number' %>
                    <div class="filter-title"><%= el['name'] %></div>
                    <div class="form-group">
                      <label for="">От</label>
                      <input name="<%= el['id'].to_s+"_min" %>" type="number" placeholder="" value="<%= params[el['id'].to_s+"_min"]%>">
                      <label for="">До</label>
                      <input name="<%= el['id'].to_s+"_max" %>" type="number" placeholder="" value="<%= params[el['id'].to_s+"_max"]%>">
                    </div>
                  <% elsif el['type'] == 'Bool' %>
                    <div class="filter-title"><%= el['name'] %></div>
                    <div class="form-group">
                      <label for="">Любое</label>
                      <input name="<%= el['id'].to_s%>" type="radio" placeholder=""  value="" <%= params[el['id'].to_s ]== 'No' || params[el['id'].to_s ]== 'Yes' ? '': 'checked' %>>
                      <label for="">Нет</label>
                      <input name="<%= el['id'].to_s%>" type="radio" placeholder="" value="No" <%= params[el['id'].to_s ]== 'No' ? 'checked' : '' %>>
                      <label for="">Да</label>
                      <input name="<%= el['id'].to_s %>" type="radio" placeholder="" value="Yes" <%= params[el['id'].to_s ]== 'Yes' ? 'checked' : '' %>>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <!--
              <ul class="check-box-list">
                <li>
                  <label class="checkbox-inline" for="1"><input name="news" id="1" type="checkbox">$20 - $50<span class="count">(3)</span></label>
                </li>
                <li>
                  <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">$50 - $100<span class="count">(5)</span></label>
                </li>
                <li>
                  <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox">$100 - $250<span class="count">(8)</span></label>
                </li>
              </ul>-->
              <% if @makers %>
                <div class="single-widget category">
                  <h3 class="title">Производители</h3>
                  <ul class="categor-list">
                    <% @makers.each do |el|%>
                      <li>
                        <input <%=  params[:makers] && params[:makers].include?(el.id.to_s)  ? "checked": '' %> type="checkbox" name="makers[]" value="<%= el.id %>" > <span class="<%=  params[:makers] && params[:makers].include?(el.id.to_s)  ? "maker-assent": '' %>">  <%= el.name %> (<%= @products.where(maker_id: el.id).count  %>)</span>
                        <!-- <a href="?&makers[]=<%= el.id%>" class="<%=  params[:makers] && params[:makers].include?(el.id.to_s)  ? "maker-assent": '' %>">-->

                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="form-group button">
                <button type="submit" class="btn" data-turbolinks_scrolltop="true">Найти</button>
              </div>
            </div>

          <!--/ End Shop By Price -->
          <!-- Single Widget -->
          <%= render partial: './best.html.erb', locals:{:products=> @products} %>

          <!--/ End Single Widget -->

        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <!-- Shop Top -->
            <div class="shop-top">
              <div class="shop-shorter">
                <div class="single-shorter">
                  <label>Sort By :</label>
                  <select name="order" onchange = "sort_handler(this)">
                    <option <%= !params[:order] || params[:order] == 'name' ? 'selected': '' %> value="name">Название</option>
                    <option <%=  params[:order] == 'price' ? 'selected': '' %> value="price">Цена</option>
                  </select>

                </div>
              </div>
            </div>
            <!--/ End Shop Top -->
          </div>
        </div>
        <div class="row" id="turbolinks_bot">
          <% if @products.count == 0 %>
                <h3 style="width: 100%; text-align: center; padding-top: 100px">Упс, здесь пока пусто.</h3>
          <% end %>
          <% @products.each do |el|%>

            <div class="col-lg-4 col-md-6 col-12">
              <div class="single-product">
                <div class="product-img">
                  <%= link_to(controller: 'products', action: "show", id: el.id) do %>
                    <%= image_tag el.main_photo, :class => "default-img" %>
                    <%= image_tag el.main_photo, :class => "hover-img" %>


                  <% end %>
                  <div class="button-head">
                    <div class="product-action" style="padding-right:  20px">
                     <!-- <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>-->
                      <a title="Избранное" href="#"><i class=" ti-heart "></i><span>В избранное</span></a>
                      <!-- <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>-->
                    </div>
                    <div class="product-action-2" style="padding-left:  10px">
                      <span>
                        <a title="Добавить в корзину" style="display: <%= !is_in_cart(el.id) ? 'inline-block' : 'none' %>">Добавить в корзину</a>
                      </span>
                     <span> 
                        <%=link_to 'Уже в корзинe', {controller: 'cart', action: 'index'}, :title=>'Уже в корзинe', style: "display: #{ is_in_cart(el.id) ? 'inline-block' : 'none' }"%>
                    </span>
                    </div>
                  </div>
                </div>
                <div class="product-content">
                  <div class="product-price">
                    <span>₽ <%= el.price %></span>
                  </div>
                  <h3> <%= link_to(controller: 'products', action: "show", id: el.id) do %><%= el.title %><% end %></h3>
                  <div class = "mobile-buttons">
                    <div class="product-action" style="padding-right:  20px">
                     <!-- <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>-->
                      <a title="Избранное" href="#"><i class=" ti-heart "></i><span>В избранное</span></a>
                    
                      <a title="Добавить в корзину" href="#" st>Добавить в корзину</a>
                      
                      <%=link_to 'Уже в корзинe', {controller: 'cart', action: 'index'}, :title=>'Уже в корзинe' %>
                      
                      <!-- <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>-->
                    </div>
                  </div>
                </div>
            

              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<!--/ End Product Style 1  -->





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <div class="row no-gutters">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <!-- Product Slider -->
            <div class="product-gallery">
              <div class="quickview-slider-active">
                <div class="single-slider">
                  <img src="https://via.placeholder.com/569x528" alt="#">
                </div>
                <div class="single-slider">
                  <img src="https://via.placeholder.com/569x528" alt="#">
                </div>
                <div class="single-slider">
                  <img src="https://via.placeholder.com/569x528" alt="#">
                </div>
                <div class="single-slider">
                  <img src="https://via.placeholder.com/569x528" alt="#">
                </div>
              </div>
            </div>
            <!-- End Product slider -->
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="quickview-content">
              <h2>Flared Shift Dress</h2>
              <div class="quickview-ratting-review">
                <div class="quickview-ratting-wrap">
                  <div class="quickview-ratting">
                    <i class="yellow fa fa-star"></i>
                    <i class="yellow fa fa-star"></i>
                    <i class="yellow fa fa-star"></i>
                    <i class="yellow fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <a href="#"> (1 customer review)</a>
                </div>
                <div class="quickview-stock">
                  <span><i class="fa fa-check-circle-o"></i> in stock</span>
                </div>
              </div>
              <h3>$29.00</h3>
              <div class="quickview-peragraph">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
              </div>
              <div class="size">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <h5 class="title">Size</h5>
                    <select>
                      <option selected="selected">s</option>
                      <option>m</option>
                      <option>l</option>
                      <option>xl</option>
                    </select>
                  </div>
                  <div class="col-lg-6 col-12">
                    <h5 class="title">Color</h5>
                    <select>
                      <option selected="selected">orange</option>
                      <option>purple</option>
                      <option>black</option>
                      <option>pink</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="quantity">
                <!-- Input Order -->
                <div class="input-group">
                  <div class="button minus">
                    <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                      <i class="ti-minus"></i>
                    </button>
                  </div>
                  <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
                  <div class="button plus">
                    <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                      <i class="ti-plus"></i>
                    </button>
                  </div>
                </div>
                <!--/ End Input Order -->
              </div>
              <div class="add-to-cart">
                <a href="#" class="btn">Add to cart</a>
                <a href="#" class="btn min"><i class="ti-heart"></i></a>
                <a href="#" class="btn min"><i class="fa fa-compress"></i></a>
              </div>
              <div class="default-social">
                <h4 class="share-now">Share:</h4>
                <ul>
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
<script type="text/javascript" charset="utf-8">
    {
        let qty_checkbox = document.querySelector('#qty_checkbox')
        qty_checkbox.addEventListener('change', () => {
            document.querySelector('#qty_checkbox2').checked = !qty_checkbox.checked
        })
    }
</script>
