<!DOCTYPE html>
<html>
<head>

  <title><%= @page_title ?  @page_title : "NekMarket" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="turbolinks-cache-control" content="no-cache">
  <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  <script src="<%= javascript_path("general/main")  %>"></script>


  <%= favicon_link_tag 'favicon.svg'%>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='copyright' content=''>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


</head>
<div class="fix-bug"></div>
<body class="js <%= controller_name %> <%= action_name %> " style="overflow: auto">

<%= yield %>
<%= render partial: './footer.html.erb' %>

<% if action_name == 'contact'%>
<%= javascript_include_tag 'mapman', 'data-turbolinks-track'=> 'reload' %>
<% end %>
</body>

</html>


