<!DOCTYPE html>
<html>
<head>

  <script>
      let CategoryCheck;
      let preview_image;
      let ListCheck;
      class TurbolinksControl  {
          constructor(x, y) {
              this.enabled = false;
          }
          setEnabled()
          {
              this.enabled = true;
          }
          run (){
              let scrollPosition = null;
              document.addEventListener('turbolinks:before-visit', (event) => {
                  console.log(this.enabled);
                  if (this.enabled)
                      scrollPosition = window.scrollY;
                  else
                      scrollPosition = null;
                  this.enabled = false
              });

              document.addEventListener('turbolinks:load', (event) => {
                  const elements = document.querySelectorAll(`[data-turbolinks-no-scroll="true"]`);
                  console.log(elements);
                  for (let i = 0; i < elements.length; i++) {
                      elements[i].addEventListener('click', () => {
                          this.enabled = true
                      })
                  }

                  if (scrollPosition) {
                      //	let inner = document.querySelector('.header-inner');
                      //inner.style.position = 'fixed';
                      let fix_bug = document.querySelector('.fix-bug');
                      let header = document.querySelector('.header');

                      header.style.animation = ""
                      if (scrollPosition > 200) {
                          header.classList.add("sticky");

                          fix_bug.classList.add('fix-bug-active');
                      } else {
                          header.classList.remove("sticky");
                          fix_bug.classList.remove('fix-bug-active');
                      }
                      window.scrollTo(0, scrollPosition)

                  }
              })


          }

      };

      turbolinks_control = new TurbolinksControl();
      turbolinks_control.run();
  </script>
  <title><%= @page_title ?  @page_title : "NekMarket" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="turbolinks-cache-control" content="no-cache">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload', :data=>{'turbolinks-suppress-warning'=>'true'}%>

  <%= favicon_link_tag 'favicon.svg'%>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='copyright' content=''>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


</head>
<div class="fix-bug"></div>
<body class="js <%= controller_name %> <%= action_name %> " style="overflow: auto">

<%= yield %>
<%= render partial: './footer.html.erb' %>

<% if action_name == 'contact'%>
<%= javascript_include_tag 'mapman', 'data-turbolinks-track'=> 'reload' %>
<% end %>
</body>

</html>


